<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Currency Exchange Rate</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>
<body>
    <h1>Get Currency Exchange Rate</h1>
    <br>

    <form action="/exchange">
        <input type="number" step="0.001" name="number" id="number" placeholder="#">
        <input type="text" name="base_currency" id="base_currency" placeholder="Currency to be converted"> 
        <input type="text" name="convert_to_currency" id="convert_to_currency" placeholder="Currency to convert it to">
        <button type="submit">Submit</button>
    </form>
</body>
</html>